<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzyl.mapper.MaterialMapper">

    <insert id="insert" parameterType="com.zzyl.entity.Material" useGeneratedKeys="true" keyProperty="id">
        insert into material(type_id, name, spec, price, warn_threshold, del_flag, create_by, remark, create_time)
        values (#{typeId}, #{name}, #{spec}, #{price}, #{warnThreshold}, 0, #{createBy}, #{remark}, #{createTime})
    </insert>

    <update id="update" parameterType="com.zzyl.entity.Material">
        update material
        <set>
            <if test="typeId != null">type_id = #{typeId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="spec != null">spec = #{spec},</if>
            <if test="price != null">price = #{price},</if>
            <if test="warnThreshold != null">warn_threshold = #{warnThreshold},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = #{updateTime}
        </set>
        where id = #{id}
    </update>

    <select id="findById" parameterType="java.lang.Long" resultType="com.zzyl.entity.Material">
        select *
        from material
        where id = #{id}
          and del_flag = 0
    </select>

    <select id="findByTypeIdAndName" resultType="com.zzyl.entity.Material">
        select *
        from material
        where type_id = #{typeId}
          and name = #{name}
          and del_flag = 0
    </select>

    <select id="findByTypeId" resultType="com.zzyl.entity.Material">
        select *
        from material
        where type_id = #{typeId}
          and del_flag = 0
    </select>

    <select id="findAll" resultType="com.zzyl.entity.Material">
        select *
        from material
        where del_flag = 0
        <if test="name != null and name != ''">
            and name like concat('%', #{name}, '%')
        </if>
        order by create_time desc
    </select>

    <select id="findByPage" resultType="com.zzyl.vo.MaterialVo">
        select m.*, mt.name as type_name
        from material m
        left join material_type mt on m.type_id = mt.id
        where m.del_flag = 0
        <if test="name != null and name != ''">
            and m.name like concat('%', #{name}, '%')
        </if>
        <if test="typeId != null">
            and m.type_id = #{typeId}
        </if>
        order by m.create_time desc
    </select>
</mapper>
