<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzyl.mapper.WarehouseMapper">

    <insert id="insert" parameterType="com.zzyl.entity.Warehouse" useGeneratedKeys="true" keyProperty="id">
        insert into warehouse(name, staff_id, del_flag, create_by, remark, create_time)
        values (#{name}, #{staffId}, 0, #{createBy}, #{remark}, #{createTime})
    </insert>

    <update id="update" parameterType="com.zzyl.entity.Warehouse">
        update warehouse
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="staffId != null">staff_id = #{staffId},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = #{updateTime}
        </set>
        where id = #{id}
    </update>

    <select id="findById" parameterType="java.lang.Long" resultType="com.zzyl.entity.Warehouse">
        select *
        from warehouse
        where id = #{id}
          and del_flag = 0
    </select>

    <select id="findByName" resultType="com.zzyl.entity.Warehouse">
        select *
        from warehouse
        where name = #{name}
          and del_flag = 0
    </select>

    <select id="findAll" resultType="com.zzyl.entity.Warehouse">
        select *
        from warehouse
        where del_flag = 0
        order by create_time desc
    </select>

    <select id="findByPage" resultType="com.zzyl.vo.WarehouseVo">
        select w.*, s.name as staff_name
        from warehouse w
        left join staff s on w.staff_id = s.id
        where w.del_flag = 0
        <if test="name != null and name != ''">
            and w.name like concat('%', #{name}, '%')
        </if>
        order by w.create_time desc
    </select>
</mapper>
